@tailwind base;
@tailwind components;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 306 0% 100%;
    --foreground: 306 0% 10%;
    --card: 306 0% 100%;
    --card-foreground: 306 0% 15%;
    --popover: 306 0% 100%;
    --popover-foreground: 306 95% 10%;
    --primary: 306 97% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 306 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 268 10% 95%;
    --muted-foreground: 306 0% 40%;
    --accent: 268 10% 90%;
    --accent-foreground: 306 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 306 0% 100%;
    --border: 306 20% 82%;
    --input: 306 20% 50%;
    --ring: 306 97% 59%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 306 10% 10%;
    --foreground: 306 0% 100%;
    --card: 306 0% 10%;
    --card-foreground: 306 0% 100%;
    --popover: 306 10% 5%;
    --popover-foreground: 306 0% 100%;
    --primary: 306 97% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 306 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 268 10% 25%;
    --muted-foreground: 306 0% 65%;
    --accent: 268 10% 25%;
    --accent-foreground: 306 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 306 0% 100%;
    --border: 306 20% 50%;
    --input: 306 20% 50%;
    --ring: 306 97% 59%;
    --radius: 0.5rem;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@tailwind utilities;
